.title {
    text-align: center;
    margin-top: 85px;
}

.box {
    display: flex;
    padding: 0 173px;
}

.listBuildings {
    width: 40%;
    padding-right: 0 15px 8px 0;
}

.building {
    border-bottom: 3px solid #1968AB;
}

.titleBuilding {
    font-size: 25px;
    font-weight: 700;
}

.adressBuilding {
    margin-top: 5px;

    color: rgb(108, 108, 108);
    font-size: 18px;
    font-weight: 700;
}