.title {
    font-size: 87px;
    text-align: center;
    margin: 146px 0 0;
}

.background {
    min-height: 917px;
    background-image: url("/public/assets/background_Univ_Life.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    padding: 295px 26px 117px 26px;
    gap: 10px;
}

.post > iframe {
    height: 1000px !important;
}

.post > iframe:last-child {
    display: none;
}

