.title {
    margin-top: 84px;
    margin-bottom: 30px;
    font-size: 71px;
    text-align: center;
}

.flexBox {
    display: flex;
    justify-content: center;
    gap: 22.6px;
    margin-bottom: 259px;
}