.card {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    background: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    padding: 20px;
    max-width: 500px;
    height: 100%;
    min-height: 400px;
    text-align: center;
    cursor: pointer;
    overflow: hidden;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.25);
}

.cardImage {
    width: 100%;
    min-height: 341px;
    height: 100%;
    object-fit: cover;
    flex-shrink: 0;
}

.cardText {
    margin-top: 15px;
    font-size: 18px;
    font-weight: 700;
    text-align: left;
    line-height: 1.4;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    color: #333;
}