.arrowNext {
    position: relative;
    width: 80px;
    height: 80px;
    cursor: pointer;
    overflow: hidden;
    border: solid 5px #ffffff;
    border-radius: 50%;
}

.arrowNext:after {
    position: absolute;
    display: block;
    content: "";
    color: #fff;
    width: 45px;
    height: 37.5px;
    top: 0;
    border-bottom: solid 5px;
    transform: translateX(8px);
}

.arrowNext:before {
    position: absolute;
    display: block;
    content: "";
    color: #fff;
    width: 20px;
    height: 20px;
    border-top: solid 5px;
    border-left: solid 5px;
    top: 50%;
    left: 85%;
    transform-origin: 0 0;
    transform: rotateZ(135deg);
}